<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings><!-- //TODO 2: Update the connectionStrings element, Enter a connectionString value to connect to your LON-SVR1\SQLEXPRESS instance securely-->
    <add name="DroneDALConnection" connectionString=" "/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>